<div>
    <!--Navbar-->
    <div class="container-fluid">
            <AppHeaderLinks class="navbar navbar-home navbar-toggleable-md navbar-dark fixed-top scrolling-navbar"></AppHeaderLinks>
    </div>
    <!--/.Navbar-->
    
    
    
    <!--Mask-->
    <div class="view full-bg-img" style="position: relative; height: 100vh">
        <div class="mask pattern-1">
        </div>
        <div class="full-bg-img d-flex flex-center flex-column white-text"  style="position: relative;">
            <ul class="animated fadeIn">
                <li>
                    <img src="/img/logo_main.png" alt="" class="d-inline">
                    <h1 class="h1-responsive marginless">Industrial Training Portal</h1>
                </li>
                <li>
                    <p>Department of Computer Engineering, University of Peradeniya</p>
                </li>
                <li v-if="!state.loggedIn">
                    <router-link :to="{name: 'Auth_signup'}" class="btn btn-outline-white btn-lg">Sign up</router-link>
                    <router-link :to="{name: 'Auth_login'}" class="btn btn-outline-white btn-lg">Login</router-link>
                </li>
                <li v-else>
                    <router-link :to="{name: 'Auth_select_dashboard'}" class="btn btn-outline-white btn-lg">View Dashboard</router-link>
                </li>
            </ul>
            <ul class="intro-stats">
                <router-link tag="li" class="hover-link" to="/all/organizations"><span class="d-flex flex-center"><i class="material-icons responsive">account_balance</i><big>{{counts.companies}}</big></span> <span class="description">Organizations</span></router-link>
                <router-link tag="li" class="hover-link" to="/all/students"><span class="d-flex flex-center"><i class="material-icons responsive">face</i><big>{{counts.students}}</big></span> <span class="description">Students</span></router-link>
                <li class=""><span class="d-flex flex-center"><i class="material-icons responsive">assignment_ind</i><big>{{counts.students_selected}}</big></span> <span class="description">Assigned Trainees</span></li>
                <li class=""><span class="d-flex flex-center"><i class="material-icons responsive">cast_connected</i><big>{{state.socket_user_count}}</big></span> <span class="description">Online users</span></li>
            </ul>
        </div>
    </div>
    <!--/.Mask-->
    <div class="container-fluid white" v-if="content.home_content">
        <br>
        <div class="container" v-html="content.home_content"></div>
        <br>
    </div>
    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer Links-->
        <div class="container-fluid">
            <br><br>
            <div class="row">
                <!--First column-->
                <div class="col-md-8 offset-md-1 mobile-left text-left" v-if="content.home_footer_content" v-html="content.home_footer_content">
                </div>
                <!--/.First column-->
                <hr class="hidden-md-up">
                <!--Second column-->
                <div class="col-md-2 mobile-left text-left mobile-top-margin">
                    <h5 class="title">Quick Links</h5>
                    <ul>
                        <li><router-link to="/gettingstarted">Getting Started</router-link></li>
                        <li><router-link to="/all/students">All Students</router-link></li>
                        <li><router-link to="/all/organizations">All Organizations</router-link></li>
                    </ul>
                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->
        <hr>
        <!--Call to action-->
        <div class="call-to-action blue-grey darken-4 p-0 m-0">
            <div class="col-lg-12 p-2 m-0 bg-primary  wow pulse">
                    <p class="mb-0" style="font-size: large;">
                        <span v-if="content.training_start_date" >Industrial Training will be commenced on <b>{{moment(content.training_start_date)}}</b>. </span>
                        Sign up your organization
                        <a target="_blank" href="/auth/signup-company" rel="nofollow" class="btn btn-info mobile-block">Sign up now</a>
                    </p>
            </div>
            <br>
        </div>
        <div class="call-to-action blue-grey darken-4">
            <div class="container">
                <p>
                    <img src="/img/logo_pera.png" alt="">
                    <h6 class="h6-responsive m-0 sma">An initiative of Department of Computer Engineering, University of Peradeniya</h6>
                </p>
            </div>
            <br>
        </div>
        <!--/.Call to action-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid small">
                © 2015 Copyright. <a href="http://www.ce.pdn.ac.lk/" rel="nofollow"> Department of Computer Engineering, University of Peradeniya </a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->
</div>